input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.MuiPaper-root.MuiAccordion-root {
    position: static;
}

.signal-box {
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 4px;
    margin: 0px;
}
